[package]
name = "workflow-telemetry-rust"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
serde = { version = "1.0", features = ["derive"] }
chrono = "0.4"
charts-rs = "0.3.27"
ctrlc = "3.4"
